In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import time
import os
from sqlalchemy import create_engine

In [2]:
# # executable_path = {'executable_path': 'C:\\Users\\Gogster\\Desktop\\Drivers\\chromedriver.exe'}
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# ZIKA Information 2017

In [4]:
urlzika = 'https://www.cdc.gov/zika/reporting/2017-case-counts.html'
browser.visit(urlzika)
htmlzika=browser.html

In [5]:
# browser.visit(url)
zika_soup = bs(browser.html, 'lxml')
# print(zika_soup.prettify())
time.sleep(2)

In [6]:
#scrape table
table_zika= pd.read_html(urlzika)
   #format
df_zika = table_zika[0]
# df_zika.columns = ['State', 'Count(w/symptoms)', "%", 'Count(w/o symptoms)','%']

In [7]:
df_zika.columns = ['State', 'Count_symptoms', "%", 'Count_no_symptoms','%']

In [8]:
#removed rows with labeling, not data was deleted
df_zika = df_zika.drop(df_zika.index[[54,55,0,1,2]])

In [9]:
# df_zika

In [10]:
# make a copy and manupilate the copy
new_zika_df = df_zika[['State', 'Count_symptoms','Count_no_symptoms']].copy()
# new_zika_df['yr'] = new_zika_df(numeric_only=True, axis=1)
new_zika_df['yr']= '2017'
# new_zika_df.head()
# new_zika_df.index.set_levels(['State'], level=0, inplace=True)
new_zika_df.rename(index={'id':'State'})

                   State Count_symptoms Count_no_symptoms    yr
3                Alabama              3                 4  2017
4                 Alaska              2                 0  2017
5                Arizona              3                 0  2017
6               Arkansas              0                 0  2017
7             California             49                 4  2017
8               Colorado              6                 0  2017
9            Connecticut              8                 0  2017
10              Delaware              0                 0  2017
11  District of Columbia              3                 0  2017
12              Floridaâ€¡            110                 5  2017
13               Georgia              2                 5  2017
14                Hawaii              6                 1  2017
15                 Idaho              0                 0  2017
16              Illinois              7                 0  2017
17               Indiana              3                 0  2017
18                  Iowa              1                 0  2017
19                Kansas              2                 0  2017
20              Kentucky              2                 0  2017
21             Louisiana              1                 5  2017
22                 Maine              1                 0  2017
23              Maryland             11                 1  2017
24         Massachusetts             12                 0  2017
25              Michigan              7                 0  2017
26             Minnesota              8                 0  2017
27           Mississippi              2                 0  2017
28              Missouri              2                 0  2017
29               Montana              0                 0  2017
30              Nebraska              2                 0  2017
31                Nevada              1                 1  2017
32         New Hampshire              0                 0  2017
33            New Jersey             12                 0  2017
34            New Mexico              0                 0  2017
35              New York             64                 1  2017
36        North Carolina              8                 0  2017
37          North Dakota              0                 0  2017
38                  Ohio              3                 0  2017
39              Oklahoma              1                 0  2017
40                Oregon              5                 0  2017
41          Pennsylvania              7                 1  2017
42          Rhode Island              3                 0  2017
43        South Carolina              2                 0  2017
44          South Dakota              0                 0  2017
45             Tennessee              2                 0  2017
46                Texasâ€¡             54                 2  2017
47                  Utah              4                 0  2017
48               Vermont              4                 0  2017
49              Virginia              7                 0  2017
50            Washington             15                 1  2017
51         West Virginia              1                 1  2017
52             Wisconsin              4                 0  2017
53               Wyoming              2                 0  2017
56        American Samoa              0                 0  2017
57           Puerto Rico            620                 6  2017
58   U.S. Virgin Islands             46                 0  2017

In [11]:
# df.loc[df[col name]==value]
# table[table.column_name == some val]

In [12]:
# new_zika_df.loc[new_zika_df['State']=='California']
# new_zika_df.loc[new_zika_df['State']=='Oregon']
# new_zika_df.loc[new_zika_df['State']=='Washington']
# new_zika_df[new_zika_df.State == 'California']
# new_zika_df.loc[[7,50,25]]
# new_zika_df

In [13]:
# state_list=["Oregon","California","Washington"]

In [14]:
# appended_data = []

In [15]:
# for states in state_list:
#     data = new_zika_df.loc[new_zika_df['State']==states]
#     appended_data.append(data)

# Zika 2016

In [16]:
urlz2016 = 'https://www.cdc.gov/zika/reporting/2016-case-counts.html'
browser.visit(urlz2016)
htmlzika=browser.html

In [17]:
# browser.visit(url)
zika2016_soup = bs(browser.html, 'lxml')
# print(zika_soup.prettify())
time.sleep(2)

In [18]:
#scrape table
table_zika_2016= pd.read_html(urlz2016)
   #format
df_zika_2016 = table_zika_2016[0]
# df_zika.columns = ['State', 'Count(w/symptoms)', "%", 'Count(w/o symptoms)','%']

In [19]:
df_zika_2016.columns = ['State', 'Count_symptoms', "%", 'Count_no_symptoms','%']

In [20]:
#removed rows with labeling, not data was deleted
df_zika_2016 = df_zika_2016.drop(df_zika_2016.index[[0,1,2,53,54]])

In [21]:
# make a copy and manupilate the copy
new_zika2016_df = df_zika_2016[['State', 'Count_symptoms','Count_no_symptoms']].copy()
# new_zika2016_df['yr'] = new_zika2016_df.mean(numeric_only=True, axis=1)
new_zika2016_df['yr']= '2016'
new_zika2016_df.rename(index={'id':'State'})
# new_zika2016_df.head()
# new_zika2016_df

                   State Count_symptoms Count_no_symptoms    yr
3                Alabama             37                 1  2016
4                Arizona             54                 1  2016
5               Arkansas             13                 0  2016
6             California            421                 4  2016
7               Colorado             55                 0  2016
8            Connecticut            118                 0  2016
9               Delaware             17                 0  2016
10  District of Columbia             41                 0  2016
11              Floridaâ€¡           1107                23  2016
12               Georgia            107                 0  2016
13                Hawaii             11                 0  2016
14                 Idaho              5                 0  2016
15              Illinois            105                 0  2016
16               Indiana             49                 0  2016
17                  Iowa             26                 1  2016
18                Kansas             20                 0  2016
19              Kentucky             31                 0  2016
20             Louisiana             38                 0  2016
21                 Maine             12                 0  2016
22              Maryland            130                 0  2016
23         Massachusetts            119                 1  2016
24              Michigan             67                 0  2016
25             Minnesota             66                 0  2016
26           Mississippi             23                 0  2016
27              Missouri             37                 0  2016
28               Montana              9                 0  2016
29              Nebraska             13                 0  2016
30                Nevada             22                 1  2016
31         New Hampshire             11                 0  2016
32            New Jersey            180                 0  2016
33            New Mexico             10                 0  2016
34              New York           1002                 2  2016
35        North Carolina            100                 0  2016
36          North Dakota              3                 0  2016
37                  Ohio             83                 0  2016
38              Oklahoma             29                 0  2016
39                Oregon             47                 0  2016
40          Pennsylvania            175                 0  2016
41          Rhode Island             55                 0  2016
42        South Carolina             61                 0  2016
43          South Dakota              3                 0  2016
44             Tennessee             61                 0  2016
45                Texasâ€¡            312                 4  2016
46                  Utah             21                 0  2016
47               Vermont             11                 0  2016
48              Virginia            108                 0  2016
49            Washington             69                 0  2016
50         West Virginia             11                 0  2016
51             Wisconsin             60                 0  2016
52               Wyoming              3                 0  2016
55        American Samoa            131                 0  2016
56           Puerto Rico          35395               325  2016
57   U.S. Virgin Islands            986                 0  2016

In [22]:
# new_zika2016_df.loc[new_zika2016_df['State']=='Oregon']

In [23]:
# for states in state_list:
#     data = new_zika2016_df.loc[new_zika2016_df['State']==states]
#     appended_data.append(data)

# Zika 2015

In [24]:
urlz2015 = 'https://www.cdc.gov/zika/reporting/2015-case-counts.html'
browser.visit(urlz2015)
htmlzika=browser.html

In [25]:
# browser.visit(url)
zika2015_soup = bs(browser.html, 'lxml')
# print(zika_soup.prettify())
time.sleep(2)

In [26]:
#scrape table
table_zika_2015= pd.read_html(urlz2015)
   #format
df_zika_2015 = table_zika_2015[0]
# df_zika.columns = ['State', 'Count(w/symptoms)', "%", 'Count(w/o symptoms)','%']

In [27]:
df_zika_2015.columns = ['State', 'Count_symptoms', "%", 'Count_no_symptoms','%']

In [28]:
#removed rows with labeling, not data was deleted
df_zika_2015 = df_zika_2015.drop(df_zika_2015.index[[0,1,2,53,54]])

In [29]:
# make a copy and manupilate the copy
new_zika2015_df = df_zika_2015[['State', 'Count_symptoms','Count_no_symptoms']].copy()
# new_zika2015_df['yr'] = new_zika2015_df.mean(numeric_only=True, axis=1)
new_zika2015_df['yr']='2015'
new_zika2015_df.rename(index={'id':'State'})
# new_zika2015_df.head()
# new_zika2015_df

                   State Count_symptoms Count_no_symptoms    yr
3                Alabama              0                 0  2015
4                Arizona              0                 0  2015
5               Arkansas              2                 0  2015
6             California             13                 0  2015
7               Colorado              0                 0  2015
8            Connecticut              0                 0  2015
9               Delaware              0                 0  2015
10  District of Columbia              4                 0  2015
11               Florida              6                 0  2015
12               Georgia              1                 0  2015
13                Hawaii              4                 0  2015
14                 Idaho              0                 0  2015
15              Illinois              0                 0  2015
16               Indiana              1                 0  2015
17                  Iowa              0                 0  2015
18                Kansas              0                 0  2015
19              Kentucky              2                 0  2015
20             Louisiana              0                 0  2015
21                 Maine              0                 0  2015
22              Maryland              2                 0  2015
23         Massachusetts              3                 0  2015
24              Michigan              0                 0  2015
25             Minnesota              2                 0  2015
26           Mississippi              0                 0  2015
27              Missouri              1                 0  2015
28               Montana              0                 0  2015
29              Nebraska              0                 0  2015
30                Nevada              0                 0  2015
31         New Hampshire              1                 0  2015
32            New Jersey              1                 0  2015
33            New Mexico              0                 0  2015
34              New York              3                 0  2015
35        North Carolina              0                 0  2015
36          North Dakota              0                 0  2015
37                  Ohio              0                 0  2015
38              Oklahoma              0                 0  2015
39                Oregon              0                 0  2015
40          Pennsylvania              1                 0  2015
41          Rhode Island              1                 0  2015
42        South Carolina              0                 0  2015
43          South Dakota              0                 0  2015
44             Tennessee              0                 0  2015
45                 Texas              8                 0  2015
46                  Utah              1                 0  2015
47               Vermont              0                 0  2015
48              Virginia              5                 0  2015
49            Washington              0                 0  2015
50         West Virginia              0                 0  2015
51             Wisconsin              0                 0  2015
52               Wyoming              0                 0  2015
55        American Samoa              0                 0  2015
56           Puerto Rico             10                 0  2015
57   U.S. Virgin Islands              0                 0  2015

In [30]:
# state_list=["Oregon","California","Washington"]

In [31]:
# new_zika2015_df.loc[new_zika2015_df['State']=='Washington']

In [32]:
# for states in state_list:
#     data = new_zika2015_df.loc[new_zika2015_df['State']==states]
#     appended_data.append(data)

# FINAL EXTRACTION and Cleaning

In [33]:
newdf15=new_zika2015_df[new_zika2015_df['State'].isin(['California', 'Oregon', 'Washington'])].reset_index(drop=True)
newdf15.reset_index(level=0, inplace=True)
newdf15 = newdf15.rename(index=str, columns={"index": "id"})
newdf15

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California             13                 0  2015
1   1      Oregon              0                 0  2015
2   2  Washington              0                 0  2015

In [34]:
newdf16=new_zika2016_df[new_zika2016_df['State'].isin(['California', 'Oregon', 'Washington'])].reset_index(drop=True)
newdf16.reset_index(level=0, inplace=True)
newdf16 = newdf16.rename(index=str, columns={"index": "id"})
newdf16

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California            421                 4  2016
1   1      Oregon             47                 0  2016
2   2  Washington             69                 0  2016

In [35]:
newdf17=new_zika_df[new_zika_df['State'].isin(['California', 'Oregon', 'Washington'])].reset_index(drop=True)
newdf17.reset_index(level=0, inplace=True)
newdf17 = newdf17.rename(index=str, columns={"index": "id"})
newdf17

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California             49                 4  2017
1   1      Oregon              5                 0  2017
2   2  Washington             15                 1  2017

# Connect to local database

In [36]:
#connect to local database
rds_connection_string = "root:password@127.0.0.1/weather_db"
engine = create_engine(f'mysql://{rds_connection_string}')

# Check for tables

In [37]:
engine.table_names()

['ca_sqlresults', 'or_sqlresults', 'wa_sqlresults']

# Use pandas to load csv converted DataFrame into database

In [38]:
newdf15.to_sql(name='newdf15_sql', con=engine, if_exists='append', index=False)
newdf16.to_sql(name='newdf16_sql', con=engine, if_exists='append', index=False)
newdf17.to_sql(name='newdf17_sql', con=engine, if_exists='append', index=False)

# Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [39]:
pd.read_sql_query('SELECT * FROM newdf15_sql', con=engine)

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California             13                 0  2015
1   1      Oregon              0                 0  2015
2   2  Washington              0                 0  2015

In [40]:
pd.read_sql_query('SELECT * FROM newdf16_sql', con=engine)

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California            421                 4  2016
1   1      Oregon             47                 0  2016
2   2  Washington             69                 0  2016

In [41]:
pd.read_sql_query('SELECT * FROM newdf17_sql', con=engine)

   id       State Count_symptoms Count_no_symptoms    yr
0   0  California             49                 4  2017
1   1      Oregon              5                 0  2017
2   2  Washington             15                 1  2017

# Analysis

The initial idea was that the tropical disease Zika had increased it's infection area because the temperatures of the countries adjacent to the tropical zone had expanded.

We analyzed the United States, choosing states California, Oregon, and Washington. We extracted the historical weather data for three years and the Zika infection rates for the same time period. 

The 'cleaning' process involved :
-ensuring all the states were present
-all the counts of the infections were populated
-all the temperatures were present for the Max, Min and Average for the entire year period
-provide the proper headers
-adding the year data points
-adding the state data points
-grouped the temperatures to generate the mean values for the database
-extracted the specific data for the infections count
-create a common index for both
-concatenated the dataframes

The conclusion is not definitive because the time frame was too small and the infections count spikes and returns to a base line value. The question was not answered because the data set was not large enough and the time frame was not large enough to measure a geographical event like climate change. More data points would be needed to generate a better conclusion.